#react-cinema-body {
    background-color: #000100;
    font-family: Arial, Helvetica, sans-serif;
}

.rc-navbar {
    background-color: #161616;
}

#film-cards-color {
    background-color: #a6a9b6;
}
