$theme-colors: (
    'primary': #0091ea //Covalence Blue!  :D
);

#filmTitleDiv {
    min-width: 275px;
}

#filmPlotDiv {
    min-width: 425px;
}

#filmDataContainer {
    margin-top: -100px;
}


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
